# Object files
*.o
*.ko
*.obj
*.elf
*.pyc

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# tars
*.tar

*~
*.swp
*.swo
*.swn

.vagrant
.sock
.idea

# Built stuff
/hack/go/bin
/imgs
/util/cluster
/bin
/lambda/ol-init
/lambda/spin
/lambda/ns.so
/lambda/fdclient
/sock/sock-init
/test-dir
/test.json

# binaries
ol
ol-wasm
ol-container-proxy

*.bin

bench-dir

test-registry.wasm/
bin-functions/target/
bin-functions/wasm-target/
wasm-worker/target/
container-proxy/target

lambda/runtimes/rust/target

bench-results.csv
bench-results.pdf

scripts/build
scripts/dist
scripts/open_lambda.egg-info

*.lsm
