# Object files
*.o
*.ko
*.obj
*.elf
*.pyc

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# tars
*.tar

*~
*.swp

.vagrant
.sock
.idea

# Built stuff
/hack/go/bin
/imgs
/util/cluster
/bin
/lambda/ol-init
/lambda/spin
/lambda/ns.so
/lambda/fdclient
/sock/sock-init
/test-dir
/test.json

# Created by go mod vendor
src/vendor

ol
ol-wasm

*.bin

test-registry.wasm/*.wasm
wasm-programs/target/
wasm-worker/target/

lambda/runtimes/rust/target
